<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Административная панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/develop.png')}}">
    <script>
        function openPopup(content) {
            $('#popup').html(content);
            $('#popup').css('display', 'block');
        }

        function closePopup() {
            $('#popup').css('display', 'none');
        }
    </script>
</head>
<body>
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }} show">
                        <span>{{ message }}</span>
                        <span class="close-btn" onclick="this.parentElement.style.display='none'">×</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <h3>Добавить позицию инвентаря</h3>
        <form method="POST" action="{{ url_for('admin') }}">
            <input type="hidden" name="add_item">
            <p>
                <label for="name">Название:</label>
                <input type="text" name="name" required><br>
            </p>
            <p>
                <label for="quantity">Количество:</label>
                <input type="number" name="quantity" required><br>
            </p>
            <p>
                <label for="status">Статус:</label>
                <input type="text" name="status" required><br>
            </p>
            <p>
                <button type="submit">Добавить позицию</button>
            </p>
        </form>
    </div>
    <div class="container">
        <h3>Изменить позицию инвентаря</h3>
        <form method="POST" action="{{ url_for('admin') }}">
            <input type="hidden" name="change_item">
            <p>
                <label for="item_name">Инвентарь для изменения:</label>
                <select name="item_name">
                    {% for each in inventory_items_name %}
                      <option value="{{each}}">{{each}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="name">Новое название:</label>
                <input type="text" id="quantity" name="name">
            </p>
            <p>
                <label for="quantity">Новое количество:</label>
                <input type="number" id="quantity" name="quantity" min="1">
            </p>
            <p>
                <label for="condition">Новое состояние:</label>
                <input type="text" name="condition" required><br>
            </p>
            <p>
                <button type="submit">Изменить позицию инвентаря</button>
            </p>
        </form>
    </div>
    <div class="container">
        <h3>Добавить план закупок</h3>
        <form method="POST" action="{{ url_for('admin') }}">
            <input type="hidden" name="add_plan">
            <p>
                <label for="item_name">Название товара:</label>
                <input type="text" name="item_name" required><br>
            </p>
            <p>
                <label for="supplier">Поставщик:</label>
                <input type="text" name="supplier" required><br>
            </p>
            <p>
                <label for="price">Цена:</label>
                <input type="number" name="price" step="0.01" required><br>
            </p>
            <p>
                <button type="submit">Добавить план закупок</button>
            </p>
        </form>
    </div>
    <div class="container">
        <h3>Инвентарь</h3>
        <ul>
            {% for item in inventory_items %}
                <li style="justify-self: center;">{{ item.name }} - {{ item.quantity }} - {{ item.status }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <h3>Планы закупок</h3>
        <ul>
            {% for plan in purchase_plans %}
                <li style="justify-self: center;">{{ plan.item_name }} - {{ plan.supplier }} - {{ plan.price }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <h3>Заявки</h3>
        <ul>
            {% for req in requests %}
                <li style="justify-self: center;">{{ req.item_name }} - {{ req.quantity }}
                    <form method="POST" action="" style="display:inline;">
                        <input type="hidden" name="approve_request">
                        <input type="hidden" name="request_id" value="{{ req.id }}">
                        <button type="submit">Одобрить</button>
                    </form>
                    <form method="POST" action="" style="display:inline;">
                        <input type="hidden" name="reject_request">
                        <input type="hidden" name="request_id" value="{{ req.id }}">
                        <button type="submit">Отклонить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <h3>Заявки на ремонт</h3>
        <ul>
            {% for repair_request in repair_requests %}
                <li style="justify-self: center;">{{ repair_request.item_name }} - {{ repair_request.description }} - {{ repair_request.status }}
                    <form method="POST" action="" style="display:inline;">
                        <input type="hidden" name="approve_repair_request">
                        <input type="hidden" name="repair_request_id" value="{{ repair_request.id }}">
                        <button type="submit">Одобрить</button>
                    </form>
                    <form method="POST" action="" style="display:inline;">
                        <input type="hidden" name="reject_repair_request">
                        <input type="hidden" name="repair_request_id" value="{{ repair_request.id }}">
                        <button type="submit">Отклонить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="display: flex; justify-content: center;">
        <form method="post">
            <button class="headerbutton" name="Back_button" type="submit">Вернуться на главную страницу</button>
        </form>
    </div>
</body>
</html>