<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Вход</h2>
        <form method="POST" action="">
            <p>
                <label for="identifier">Email или Логин:</label>
                <input type="text" name="identifier" required><br>
            </p>
            <p>
                <label for="password">Пароль:</label>
                <input type="password" name="password" required><br>
            </p>
            <p>
                <input type="checkbox" name="remember">Запомнить меня
            </p>
            <p>
                <button type="submit">Войти</button>
            </p>
        </form>
        <a href="{{ url_for('register') }}">Регистрация</a>
    </div>
</body>
</html>