<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body">
    <form name="header" class="header" method="POST">
        <button name="inventory" class="header-buttons" type="submit">Инветарь</button>
        <button name="requests" class="header-buttons" type="submit">Заявки</button>
        <button name="AdminPanel" class="header-buttons" type="submit">Панель администратора</button>
        <button name="login" class="header-buttons" style="width: 100px;" type="submit">Вход</button>
        <button name="registration" class="header-buttons" style="width: 100px;" type="submit">Регистрация</button>
    </form>
    <div name="main-data" class="main-data">
        <p>Здесь должен быть текст о том, что это за сайт и что-то про предпроф. На заднем фоне лого школы и лого предпрофа.</p>
    </div>
</body>
</html>