<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/develop.png')}}">
</head>
<body>
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }} show">
                        <span>{{ message }}</span>
                        <span class="close-btn" onclick="this.parentElement.style.display='none'">×</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form name="header" class="header" method="POST">
        <button name="inventory" id="toggle-inventory" class="headerbutton" type="button">Просмотр инвентаря и заявок</button>
        <button name="requests" id='request-button' class="headerbutton" type="button">Заявки</button>
        <button name="AdminPanel" class="headerbutton" type="submit">Панель администратора</button>
        <div class="user-info">
            {% if current_user.is_authenticated %}
                <p id='user-info'>{{ current_user.first_name }} {{ current_user.last_name }}</p>
            {% endif %}
        </div>
        <button name="logout" id='request-button' class="headerbutton" type="submit" style="width: 100px;">Выход</button>
    </form>
    <div name="main-data" class="main-data" id="main-data">
        <div style="width: 80%; display: flex; flex-direction: column;">
            <h1 id="predprof">Умное управление спортивным инвентарем вашей школы</h1>
            <div class="text">
                <p>Добро пожаловать в систему учета и управления школьным спортивным<br>
                инвентарем — современное решение для эффективного контроля<br>
                и планирования ресурсов вашего учебного заведения.<br>
                Наше приложение помогает оптимизировать процесс использования<br>
                инвентаря, упростить распределение и своевременно планировать<br>
                закупки необходимого оборудования.
                </p>
                <p>
                <strong style="font-size: 30px;">Почему выбрать нашу систему?</strong><br>
                1.Простота использования: Интуитивно понятный интерфейс для всех типов пользователей.<br>
                2.Эффективность: Автоматизация рутинных задач позволяет сосредоточиться на важных делах.<br>
                3.Гибкость: Возможность настройки под конкретные потребности вашей школы.<br>
                4.Поддержка: Команда разработчиков готова помочь с любыми вопросами или проблемами.
                </p>
            </div>
        </div>
        <div class="photo" style="margin-top: 50px; margin-right: 70px;">
            <img src="{{ url_for('static', filename='images/predprof.png') }}">
            <img style="border-radius: 100%;" src="{{ url_for('static', filename='images/school.jpg') }}">
            <img style="border-radius: 100%;" src="{{ url_for('static', filename='images/2098.jpg') }}">
        </div>
    </div>
    <div class="upper-containers" style="display: none;" id="upper">
        <div class="container" id="inventory-container"> 
            <h3>Ваш инвентарь</h3>
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Количество</th>
                        <th>Состояние</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in user_inventory %}
                        <tr>
                            <td>{{ item.inventory_name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.condition }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container" id="request-container">
            <h3>Ваши заявки</h3>
            <table>
                <thead>
                    <tr>
                        <th>Bыбранный инвентарь</th>
                        <th>Количество</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in requests %}
                        <tr>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.quantity }}</td>
                            {% if item.approved==1 %}
                                <td>Одобрена</td>
                            {% elif item.approved==0 %}
                                <td>Ожидает одобрения</td>
                            {% else %}
                                <td>Отклонена</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="lower-containers" style="display: none;" id="lower">
        <div class="container" id="inventory-request" style>
            <h2>Запрос инвентаря</h2>
            <form method="POST" action="{{ url_for('user') }}">
                <input type="hidden" name="request">
                <p>
                    <label for="item_name">Название инвентаря:</label>
                    <select name="item_name">
                        {% for each in inventory_items_name %}
                        <option value="{{each}}">{{each}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="quantity">Количество:</label>
                    <input type="number" id="quantity" name="quantity_inventory" min="1">
                </p>                
                <button type="submit" name="request">Отправить запрос</button>
            </form>
        </div>

        <div class="container" id="request-repair-container">
            <h3>Создать заявку на ремонт</h3>
            <form method="POST" action="{{ url_for('user') }}">
                <input type="hidden" name="create_repair_request">
                <p>
                    <label for="item_name">Название инвентаря:</label>
                    <select name="item_name">
                        {% for each in inventory_items_name %}
                          <option value="{{each}}">{{each}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="description">Описание:</label>
                    <textarea name="description" rows="4" cols="32" required></textarea><br>
                </p>
                <p>
                    <button type="submit">Создать заявку на ремонт</button>
                </p>
            </form>
        </div>
    </div>
</body>
</html>